*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 730px;
    margin: 0 auto;
}

.section{
    max-width:100%;
    margin-bottom: 20px;
    margin-top:20px;
}

#purple{
    height:100px;
}

#logo{
    height:80%;
    border-right: 1px solid lightgray;
    padding-right: 15px;
}

#yellow{
    height:350px;
}

nav{
    height:50px;
}

.menu{
    list-style: none;
    font-family: sans-serif;
    font-size: 13px ;
}

li{
    display: inline-block;
    margin-right: 10px;
}

.gray-text{
    color: rgb(136,136,136);
}

.banner{
    height:300px;
    background-image: url(../img/banner.jpg);
    background-position:center;
    background-size: cover;
    border-radius: 7px;
}

.opacity{
    background-color: rgba(0,0,0,0.2);
    height:100%;
    border-radius: 7px;
}

.white-text{
    color:white;
}

.banner-text{
    font-family: sans-serif;
    width:350px;
    margin-left: 30px;
    padding-top: 170px;
    
}

.banner-text > h2{
    font-size: 17px;
    font-weight: 100;
    font-family: montserrat;
}

.banner-text-small{
    font-size:11px;
    font-family: montserrat;
    font-weight: 100;
}






#blue-container{
    height:400px;
    background-color: rgb(0,135,253);
}

.light-blue{
    background-color: rgb(171,207,231);
}

#light-blue1{
    max-width:100%;
    height:50px;
    margin-bottom: 17px;
}

#light-blue2, #light-blue3, #light-blue4{
    height:316px;
}

#light-blue2, #light-blue4{
    width:175px;
}

#light-blue2, #light-blue3{
    margin-right: 15px;
}

#light-blue2{
    float:left;
}

#light-blue3{
    width:350px;
    float:left;
}


#light-blue4{
    float:right;
}

#dark-purple{
    height:50px;
    background-color: rgb(132,3,253);
}